<p>
  Login your credentials!
</p>

<form #form='ngForm' autocomplete="off">
  <div class="form-group">
      <label>Username</label>
      <input #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" required>
  </div>
  <div class="form-group">
      <label>Password</label>
      <input #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required>
  </div>
  <div class="form-row">
    <button class="btn btn-success" [disabled]="form.invalid">Login</button>
  </div>
</form>
